<%= form_for @match, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                matches_path, :class => 'btn' %>
  	<%= f.fields_for :players do |builder| %>
    	
  	<% end %>
  </div>
<% end %>
